.productItem {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 900px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgb(25, 118, 210);

    .productItemDetails {
        height: 150px;
        gap: 30px;
        display: flex;
        cursor: pointer;

        .productImage {
            height: 150px;
            width: 150px;
        }

        .productText {
            width: 500px;

            .productName {
                font-weight: 600;
            }

            .productDescription {
                font-size: medium;
            }
        }
    }

    .productItemAction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .price {
            display: flex;
            justify-content: center;
        }

        .alertInvisible {
            visibility: hidden;
        }
    }
}